.webFilterwrapper{
  padding: 1rem;
}
.webFilterContainer{
  width: 100%;
  border: 1.5px solid  #d0d4dd;
  border-radius: 8px;
}
.webFilterHeader{
  width: 100%;
  align-items: center;
  padding: 1rem;
  border-bottom: 1.5px solid  #d0d4dd;
}
.webFilterHeader h3{
  color: red;
  font-size: 1.2rem; 
  font-weight: 500;
}
.webFilterHeader button{
background-color: #333;
color: #fff;
font-size: 1.5rem;
padding: 10px;
border-radius: 10px;
}